html,body{
max-width: 100%;
 
}
    html{
    z-index: 1;
}
body {
    background-color: rgb(0, 0, 0);
    z-index: 1;
    width:95%;
    height: 100%;
}
div.center{
    text-align:center;
}
.header{
    z-index: 5;
    height:65%;
    width:100%;
    position: relative;
}
.headertext
{   color:rgb(255, 255, 255);
    font-size: 1em;
}
h3.headertext{
    z-index:6;
}
h1.headertext{
    z-index:6;
}
.headerimg {
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    position: absolute;
    z-index: 2;
    height:35%;
    object-fit:cover;
    width:100%;
    top:0%;
    left:0%;
}
.welcome{
    margin-top:30%;
    z-index:6;
    position:relative;
    color:rgb(255, 255, 255);
}
.flexcontainer{
    height:100%;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    margin-top:0%;
    align-items: center;
    justify-content: center;
}
.button{
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 8px;
    z-index: 3;
    height: 100px;
    width: 100px;
    color:rgb(255, 255, 255);
    font-weight:bold;
  }
.button1 {
    border-radius: 50%;
    background: url('img/sky3.jpg');
    background-size: cover;}
.button2 {
    border-radius: 50%;
    background: url('img/sky2.jpg');
    background-size: cover;}
.button3 {
    border-radius: 50%;
    background: url('img/bridge.jpeg');
    background-size: cover;}
.button4 {
    border-radius: 50%;
    background: url('img/sky1.jpg');
    background-size: cover;}
.button5 {
    border-radius: 50%;
    background: url('img/sky2.jpg');
    background-size: cover;}
.button6 {
    border-radius: 50%;
    background: url('img/plant1.jpeg');
    background-size: cover;}

